.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.flight-detail {
  width: 500px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

.header {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.passanger-detail {
  position: relative;
  margin-top: 10px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  ;
  padding: 10px;
  border-radius: 5px;
}

.header-form {
  position: absolute;
  right: 10px;
  margin: 0 14px 0 8px;
  justify-content: space-between;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
}

.btn-reservation {
  width: 96%;
  left: 7px;
}