.flight-details {
  display: flex;
  position: relative;
  font-size: 18px;
  width: 400px;
}

.detail-duration {
  display: flex;
  justify-content: center;
}

.detail-arrow {
  position: absolute;
  top: 20px;
  left: 171px;
}

.detail-arrive {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn {
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.btn:hover {
  background-color: #1764c0;
  cursor: pointer;
}